.img__card {
    height: 20rem;
    width: 100%; 
    object-fit: contain;
    
  }

.card {
    width: 15rem;
}

.center__button {
    display: flex;
    justify-content: center;
}

.button__main{
  width:  10rem;
  height: 3rem;
}